.hero {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height:750px;
    overflow:hidden;
    .title_container {
        display:flex;
        flex-direction:row;
        justify-content: center;
        overflow:hidden;
        .main_title {
            color: white;
            font-family: sans-serif;
            text-align: left;
            font-size: 6em;
            width: 80vw;
            margin-bottom: -20px;
        }
    }
    .bgvid {
        object-fit: cover;
        position: fixed;
        z-index:-1;
    }
}

.body_title_container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height: 250px;
    background-color:white;
    .body_title {
        font-family:sans-serif;
        font-weight:bold;
        color: black;
        font-size: 3em;
    }
    p {
        font-family:sans-serif;
        font-size: 2.3em;
        margin-top: 8px;
        margin-bottom: 20px;
    }
}

.appcontainer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:black;
    height: 750px;
    #topNav {
        #navList li {
            display: inline;
            list-style-type: none;
            padding: 0px 10px;
        cursor: pointer;
        }
        .iconContainer {
            height:230px;
            width:500px;
            display:inline-block;
            overflow: hidden;
            background-image: url(../images/carsprites.png);
            background-repeat: no-repeat;
            margin-bottom:40px;
            transition: transform .4s;
            .sigilContainer:active {
                background-color:rgba(0, 180, 230, 0.3);
                box-shadow:0px 0px 50px 25px rgba(0, 180, 230, 0.4);
            }
        }
        .sprite01 {
            background-position: 0px -230px;
        }
        .sprite01:hover {
            background-position: 0px 0px;
        }
        .sprite02 {
            background-position: -500px -230px;
        }
        .sprite02:hover {
            background-position: -500px 0px;
        }
        .sprite03 {
            background-position: -1000px -230px;
        }
        .sprite03:hover {
            background-position: -1000px 0px;
        }
    }
    .appinfocontainer{
        display:flex;
        flex-direction:row;
        justify-content: center;
        #imageContainer {
            width: 600px;
            height: 360px;
            overflow: hidden;
            #carImages {
                position: relative;
                width: 7000px;
                transition: all .5s;
                }
            #carImages img {
                float: left;
                }
            }
        .descriptionContainer {
            height:360px;
            width: 860px;
            .carName {
                margin-left: 30px;
                text-align: left;
                color:white;
            }
            .carInfo {
                margin:30px 0 0 30px;
                color: white;
                font-family:sans-serif;
                font-size: 1.25em;
                line-height: 25px;
                text-align: left;
                color:white;
            }
        }
    }
}