.fas {
    font-size: 2em;
    color: white;
    cursor: pointer;
    }

.hidden {
    display:none;
}

body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: rgba(255, 255, 255, 1.0);
    font-size: 16px;
    }
        
h1 {
    font-family:sans-serif;
    font-weight:bold;
    color: black;
    margin-top: 30px;
    font-size: 3em;
    }
        
main {
    position: relative;
    width: 100%;
    text-align: center;
    }